/*========================================================
Varuable Css
========================================================*/

$primary-color: #ff8b38;
$dark-color: #333333;
$white-color: #fff;
$black-color: #261b1d;

/*========================================================
Common Css
========================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 scroll-behavior: smooth;   
}

body{
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;

    height: fit-content;
}

.root{
    overflow-x: hidden;
}

/*========================================================
Fonts Css
========================================================*/

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 50px;
} 

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;

}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: $white-color;
    &:hover{
        text-decoration: none;
        color: $white-color;
    }
}

/*========================================================
Nav Css
========================================================*/

nav{
    background-color: #000;
}

/*========================================================
Header Css
========================================================*/

header{
    background: url(/img/header-bg.jpg);
    width: 100%;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 200px 0;
    .head-text{
        padding-bottom: 20px;
        margin-bottom: 30px;
        position: relative;

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 2px;
            width: 20%;
            background: $white-color;
        }
    }

    .paragraph{
        p{
            font-size: 20px;
        }
    }

    .left-button{
        button{
            background: transparent;
            border: 2px solid $white-color;
            outline: none;
            color: $white-color;
            padding: 5px 30px;
            transition: .3s ease all;
            &:hover{
                background: $primary-color;
                border: 2px solid $primary-color;

            }
        }
    }

    .card{
        .card-header{
            background-color: #f5f5f5;
            span{
                color: $primary-color;
            }
        }
        .card-body{
           .form-control{
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
           }
        }

        .card-footer{
            padding: 0;
            border: none;
            button{
                background: $primary-color;
                border-radius: 2px;
                padding: 20px 0;
                outline: none;
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*========================================================
Social Media Css
========================================================*/

.social-media{
    padding: 25px 0 10px 0;
    border-bottom: 1px solid rgb(80, 80, 80);
    p{
        color: #49455d;
    }
    i{
        margin-left: 50%;
        color: #49455d;
    
    }
}

/*========================================================
Features Css
========================================================*/

.feature{
    padding: 100px 0;
    background: #f5f5f5;
    p{
        color: #49455d;
    }

    .btn-danger{
        background: $primary-color;
        border: none;
        padding: 5px 15px;

        &:hover{
            background: $primary-color;
        border: none;
        }
    }
}


/*========================================================
About Css
========================================================*/

.about{
    padding: 70px 0;

    i{
        color: $primary-color;
        padding: 10px 8px;
        border: 1px solid $primary-color;
        border-radius: 50px;
    }
    p{
        color: #49455d;
    }
    
    .head{
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative;

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 20%;
            height: 2px;
            background: $primary-color;
        }
    }
}

/*========================================================
Standerd Css
========================================================*/

.standerd{
    padding: 50px 0;

    p{
        color: #49455d;
    }
    .head{
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative; 

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 20%;
            height: 2px;
            background: $primary-color;
        }
    }
}

/*========================================================
Why Awsome Css
========================================================*/

.why-awsome{
    padding: 70px 0 50px 0;
    background: #f5f5f5;
    .head{
        .heading{
            padding-bottom: 20px;
            position: relative;
            margin-bottom: 30px;
            &::before{
                position: absolute;
                content: "";
                bottom: 0;
                left: 45%;
                width: 10%;
                height: 2px;
                background: $primary-color;
            }
        }
    }

    .content{
        .icon{
            i{
                color: $primary-color;
                padding: 20px;
                border: 1px solid $primary-color;
                border-radius:  50px;
                margin-bottom: 20px;
            }
        }
    }
}

/*========================================================
Pricing Css
========================================================*/

.pricing{
    padding: 70px 0;
    button{
        margin-bottom: 50px;
        background: $primary-color;
        outline: none;
        border: 2px solid $primary-color;
        color: $white-color;
        padding: 5px 15px;
        margin-left: 5px;
        margin-right: 5px;
        transition: .3s ease all;
        cursor: pointer;
        &:hover{
            color: $black-color;
            background: transparent;
            border: 2px solid $dark-color;
        }

        &:focus{
            color: $black-color;
            background: transparent;
            border: 2px solid $dark-color;
        }
    }
    .header{
        .text{
            padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative; 

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 45%;
            width: 10%;
            height: 2px;
            background: $primary-color;
        }
        }
    }

    .grid{
  
        
        .card{
            cursor: pointer;
            margin-right: 20px;
            margin-left: 20px;
    
            .card-header{
                background-color: $black-color;
                border-bottom: 1px solid $white-color;
            }
    
            .card-body{
                padding: 0;
                .tag{
                    background-color: $black-color;
                    border-bottom: 3px solid $primary-color;
                    
                   .prices{
                    h1{
                        font-size: 80px;
                    }
                    
                    h2{
                        font-size: 40px;
                    }
                   }
                }
                .description{
                    .content{
                        border-bottom: 1px solid rgb(235, 235, 235);
                        padding: 0 20px;
                    }
    
                    p{
                        color: #49455d;
                    }
                }
            }
    }
    }
}

/*========================================================
Testimonial Css
========================================================*/

.testimonial{
    padding: 50px 0;
    background: #f5f5f5;
    .heading{
        .text{
            padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative; 

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 45%;
            width: 10%;
            height: 2px;
            background: $primary-color;
        }
        }
    }
    .client{
    
        .review{
            background-color: #fff;
            width: fit-content;
            height: fit-content;
            padding: 20px 30px;
            border-radius: 5px;
            position: relative;
            margin-right: 20px;
            ::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-top: 50px solid #fff;
                bottom: -30px;
            }
        }
    }
}

/*========================================================
Stylish Css
========================================================*/

.stylish{
    background: url(/img/sec7-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    
    .heading{
       
        .main-text{
            padding-bottom: 20px;
            position: relative;
            margin-bottom: 30px;
            &::before{
                position: absolute;
                content: "";
                bottom: 0;
                left: 45%;
                width: 10%;
                height: 2px;
                background: $white-color;
        }
    }
    .button{
        button{
            background: transparent;
            border: 2px solid $white-color;
            padding: 5px 15px;
            outline: none;
            transition: .3s ease all;
            &:hover{
                background: $primary-color;
                border: 2px solid $primary-color
            }
        }
    }
}

}

/*========================================================
Contact-Us Css
========================================================*/
.contact-us{
    padding: 100px 0 50px 0;
    .heading{
        margin-bottom: 100px;
        .head-text{
            padding-bottom: 20px;
            position: relative;
            margin-bottom: 30px;

            &::before{
                position: absolute;
                content: "";
                bottom: 0;
                left: 45%;
                width: 10%;
                height: 2px;
                background: $primary-color;
        }
        }
    }

    .form{
        .form-control{
            font-size: 20px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0px;
            
           
        }
        
       
    }
    textarea{
        resize: none;
    }

    .button{
        button{
            background: $primary-color;
            outline: none;
            border: none;
            padding: 7px 20px;
        }
    }
}

/*========================================================
Footer Css
========================================================*/
footer{
    padding: 50px 0;
    background: #000;
    color: white;
    width: 100%;
    height: fit-content;
    
    .social{
        margin-left: 50%;
        transform : translateX(-40%) ;
    }
}


/*========================================================
Imports Css
========================================================*/
@import "slick-theme"; 
@import "slick";
