@charset "UTF-8";
/*========================================================
Varuable Css
========================================================*/
/*========================================================
Common Css
========================================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  height: 5000px;
}

/*========================================================
Fonts Css
========================================================*/
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 36px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*========================================================
Nav Css
========================================================*/
nav {
  background-color: #000;
}

/*========================================================
Header Css
========================================================*/
header {
  background: url(/img/header-bg.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 200px 0;
}

header .head-text {
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}

header .head-text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: #fff;
}

header .paragraph p {
  font-size: 20px;
}

header .left-button button {
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

header .left-button button:hover {
  background: #ff8b38;
  border: 2px solid #ff8b38;
}

header .card .card-header {
  background-color: #f5f5f5;
}

header .card .card-header span {
  color: #ff8b38;
}

header .card .card-body .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

header .card .card-footer {
  padding: 0;
  border: none;
}

header .card .card-footer button {
  background: #ff8b38;
  border-radius: 2px;
  padding: 20px 0;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

/*========================================================
Social Media Css
========================================================*/
.social-media {
  padding: 25px 0 10px 0;
  border-bottom: 1px solid #505050;
}

.social-media p {
  color: #49455d;
}

.social-media i {
  margin-left: 50%;
  color: #49455d;
}

/*========================================================
Features Css
========================================================*/
.feature {
  padding: 100px 0;
  background: #f5f5f5;
}

.feature p {
  color: #49455d;
}

.feature .btn-danger {
  background: #ff8b38;
  border: none;
  padding: 5px 15px;
}

.feature .btn-danger:hover {
  background: #ff8b38;
  border: none;
}

/*========================================================
About Css
========================================================*/
.about {
  padding: 70px 0;
}

.about i {
  color: #ff8b38;
  padding: 10px 8px;
  border: 1px solid #ff8b38;
  border-radius: 50px;
}

.about p {
  color: #49455d;
}

.about .head {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.about .head::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #ff8b38;
}

/*========================================================
Standerd Css
========================================================*/
.standerd {
  padding: 50px 0;
}

.standerd p {
  color: #49455d;
}

.standerd .head {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.standerd .head::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #ff8b38;
}

/*========================================================
Why Awsome Css
========================================================*/
.why-awsome {
  padding: 70px 0 50px 0;
  background: #f5f5f5;
}

.why-awsome .head .heading {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 30px;
}

.why-awsome .head .heading::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 2px;
  background: #ff8b38;
}

.why-awsome .content .icon i {
  color: #ff8b38;
  padding: 20px;
  border: 1px solid #ff8b38;
  border-radius: 50px;
  margin-bottom: 20px;
}

/*========================================================
Pricing Css
========================================================*/
.pricing {
  padding: 70px 0;
}

.pricing button {
  margin-bottom: 50px;
  background: #ff8b38;
  outline: none;
  border: 2px solid #ff8b38;
  color: #fff;
  padding: 5px 15px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  cursor: pointer;
}

.pricing button:hover {
  color: #261b1d;
  background: transparent;
  border: 2px solid #333333;
}

.pricing button:focus {
  color: #261b1d;
  background: transparent;
  border: 2px solid #333333;
}

.pricing .header .text {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.pricing .header .text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 2px;
  background: #ff8b38;
}

.pricing .grid .card {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

.pricing .grid .card .card-header {
  background-color: #261b1d;
  border-bottom: 1px solid #fff;
}

.pricing .grid .card .card-body {
  padding: 0;
}

.pricing .grid .card .card-body .tag {
  background-color: #261b1d;
  border-bottom: 3px solid #ff8b38;
}

.pricing .grid .card .card-body .tag .prices h1 {
  font-size: 80px;
}

.pricing .grid .card .card-body .tag .prices h2 {
  font-size: 40px;
}

.pricing .grid .card .card-body .description .content {
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px;
}

.pricing .grid .card .card-body .description p {
  color: #49455d;
}

/*========================================================
Testimonial Css
========================================================*/
.testimonial {
  padding: 50px 0;
  background: #f5f5f5;
}

.testimonial .heading .text {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.testimonial .heading .text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 2px;
  background: #ff8b38;
}

.testimonial .client .review {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 30px;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
}

.testimonial .client .review ::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #fff;
  bottom: -30px;
}

/*========================================================
Stylish Css
========================================================*/
.stylish {
  background: url(/img/sec7-bg.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.stylish .heading .main-text {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 30px;
}

.stylish .heading .main-text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 2px;
  background: #fff;
}

.stylish .heading .button button {
  background: transparent;
  border: 2px solid #fff;
  padding: 5px 15px;
  outline: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.stylish .heading .button button:hover {
  background: #ff8b38;
  border: 2px solid #ff8b38;
}

/*========================================================
Contact-Us Css
========================================================*/
/*========================================================
Imports Css
========================================================*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */